.hero {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	min-height: 825px;
	margin: 75px 0 0 0;

	@include sm {
		margin: 100px 0 0 0;
		min-height: 800px;
	}

	// .hero__content
	&__content {
		position: relative;
		width: 100%;
	}

	// .hero__inner
	&__inner {
		display: flex;
		min-height: 662px;
		justify-content: space-between;
		margin: 0 0 50px 0;

		@include sm {
			margin: 0 0 30px 0;
		}

		.swiper-pagination-bullet {
			position: relative;
			z-index: 22;
			width: 11px;
			height: 11px;
			border: 1px solid $white;
			border-radius: 100%;
			cursor: pointer;
			transition: all $hoverTime ease;
		}

		.swiper-pagination-bullet-active {
			background-color: $white;
		}

		.swiper-pagination-bullet:hover,
		.swiper-pagination-bullet-active:hover {
			background-color: $white;
		}
	}

	// .hero__announcement
	&__announcement {
		position: relative;
		z-index: 20;
		color: $white;
		align-self: center;
		margin: 0 0 100px 0;

		@include sm {
			text-align: center;
			margin: 0;
		}
	}

	// .hero__owner
	&__owner {
		display: block;
		max-width: 500px;
		font-size: 80px;
		margin: 0 0 18px 0;

		@include md {
			margin: 0 0 61px 0;
		}

		@include sm {
			font-size: vw(81.16, $screen-sm);
			letter-spacing: 0.005em;
			line-height: 1.28em;
		}
	}

	// .hero__title
	&__title {
		display: block;
		margin: 0 0 50px 0;
		letter-spacing: 0.4px;

		@include md {
			margin-bottom: 61px;
		}

		@include sm {
			font-size: 4.08vw;
			letter-spacing: 0.0592em;
		}
	}

	// .hero__button
	&__button {
		@include sm {
			font-size: 5.44vw;
			letter-spacing: 1.5px;
		}
	}

	// .hero__media
	&__media {
		position: relative;
		z-index: 20;
		display: flex;
		flex-direction: column;
		justify-content: center;

		@include md {
			display: none;
		}

		&::before,
		&::after {
			content: "";
			position: absolute;
			width: 1px;
			left: 50%;
			transform: translateX(-50%);
			height: 200px;
			background-color: $white;
		}

		&::before {
			top: 0;
		}

		&::after {
			bottom: 0;
		}

		.social-media {
			position: relative;
			z-index: 0;
			flex-direction: column;
		}
	}
}

.swiper-container {
	position: absolute;
	z-index: 20;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.swiper-hero {
	&__wrapper {
		display: flex;
	}

	// .swiper-hero__slide
	&__slide {
		flex: 0 0 100%;
	}

	// .swiper-hero__pagination
	&__pagination {
		position: absolute;
		z-index: 20;
		right: 15px;
		bottom: -15px;
		max-width: 90px;
		width: 100%;
		min-height: 11px;
		display: flex;
		justify-content: space-between;
		background-color: transparent;
	}
}

.hero-slide {
	position: relative;
	min-height: 825px;
	@include bg-cover;
	background-position-y: top;
	display: flex;
	justify-content: space-between;
	align-items: center;

	@include sm {
		min-height: 800px;
	}

	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: $mainColor-20;
	}

	&--1 {
		background-image: url("../img/bg/bg-main.jpg");

		@include sm {
			background-image: url("../img/bg/bg-phone.jpg");
		}
	}

	&--2 {
		background-image: url("../img/bg/bg_2.jpg");
	}

	&--3 {
		background-image: url("../img/bg/bg_3.jpg");
	}

	&--4 {
		background-image: url("../img/bg/bg_4.jpg");
	}

	// .hero-slide__img
	&__img {
		width: 100%;
		object-fit: cover;
		min-height: 825px;
		margin: 0 auto;

		@include sm {
			min-height: 800px;
		}
	}
}
