.hero {
	position: relative;

	// .hero__content
	&__content {
		position: absolute;
		z-index: 0;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 100%;
		min-height: 662px;
		display: flex;
		justify-content: space-between;
		align-items: center;

		@include md {
			justify-content: center;
		}
	}

	// .hero__announcement
	&__announcement {
		color: $white;

		@include md {
			text-align: center;
		}
	}

	// .hero__owner
	&__owner {
		display: block;
		max-width: 500px;
		font-size: 80px;
		margin: 0 0 18px 0;

		@include md {
			margin: 0 0 61px 0;
		}

		@include sm {
			font-size: 15.87vw;
			letter-spacing: 2px;
		}
	}

	// .hero__title
	&__title {
		display: block;
		margin: 0 0 50px 0;
		letter-spacing: 0.4px;

		@include md {
			margin: 0 0 61px 0;
		}

		@include sm {
			font-size: 4.08vw;
			letter-spacing: 1px;
		}
	}

	// .hero__button
	&__button {
		@include sm {
			font-size: 5.44vw;
			letter-spacing: 1.5px;
		}
	}

	// .hero__media
	&__media {
		position: relative;
		min-height: 662px;
		display: flex;
		flex-direction: column;
		justify-content: center;

		@include md {
			display: none;
		}

		&::before,
		&::after {
			content: "";
			position: absolute;
			width: 1px;
			left: 50%;
			transform: translateX(-50%);
			height: 200px;
			background-color: $white;
		}

		&::before {
			top: 0;
		}

		&::after {
			bottom: 0;
		}

		.social-media {
			flex-direction: column;
		}
	}
}

.swiper-hero {
	&__wrapper {
		display: flex;
	}

	// .swiper-hero__slide
	&__slide {
		flex: 0 0 100%;
	}

	// .swiper-hero__pagination
	&__pagination {
		position: absolute;
		z-index: 20;
		right: 80px;
		bottom: 40px;
		width: 90px;
		height: 11px;
		display: flex;
		justify-content: space-between;
	}

	.swiper-pagination-bullet {
		width: 11px;
		height: 11px;
		border: 1px solid $white;
		border-radius: 100%;
		cursor: pointer;
		transition: all $hoverTime ease;
	}

	.swiper-pagination-bullet-active {
		background-color: $white;
	}

	.swiper-pagination-bullet:hover,
	.swiper-pagination-bullet-active:hover {
		background-color: $white;
	}
}

.hero-slide {
	position: relative;
	min-height: 825px;
	@include bg-cover;
	background-position-y: top;
	display: flex;
	justify-content: space-between;
	align-items: center;

	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: $mainColor-20;
	}
}
