.portfolio {
	padding: 120px 0 85px;

	@include lg {
		padding: 100px 0 80px;
	}

	// .portfolio__title
	&__title {
		margin: 0 0 80px 0;

		@include lg {
			margin: 0 0 50px 0;
		}
	}

	// .portfolio__wrapper
	&__wrapper {
		display: flex;
		flex-direction: column;
	}

	// .portfolio__content
	&__content {
		display: block;
		@include lg {
		}

		&.active {
		}
	}

	// .portfolio__list
	&__list {
		margin-right: -20px;
	}

	// .portfolio__item
	&__item {
		position: relative;
		width: 413px;
		height: 340px;
		overflow: hidden;
		margin: 0 20px 20px 0;

		@include lg-min {
			&:hover .hover-unit {
				transform: translateY(0);
			}
		}

		@include xl {
			&:nth-child(8) {
				display: none;
			}
		}
	}

	.portfolio__item--shift {
		position: absolute;
		margin-top: 30px;

		@include xl {
			margin-top: 0;
		}
	}

	// .portfolio__link
	&__link {
		position: relative;
		z-index: 0;
		display: inline-block;
		outline: none;

		@include lg-min {
			&:focus + .hover-unit {
				transform: translateY(0);
			}
		}
	}

	// .portfolio__button
	&__button {
		align-self: flex-end;
		display: inline-block;
		margin: -10px 0 0 0;
		font-family: "Roboto", sans-serif;
		font-size: 14px;
		min-width: 100px;
		transition: all $doubleHoverTime ease;
	}
}

.hover-unit {
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	color: $white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: $mainColor-50;
	transform: translateY(100%);
	transition: transform $hoverTime ease-in;

	// .hover-unit__title
	&__title {
		font-size: 24px;
		display: block;
		text-align: center;
		margin: 0 0 35px 0;

		& span {
			display: block;
		}
	}

	// .hover-unit__button
	&__button {
		display: block;
		cursor: pointer;
		font-family: "Roboto";
		border: 1px solid $white;
		border-radius: 10px;
		padding: 12px 48px;
		transition: all $doubleHoverTime ease;

		@include lg-min {
			&:hover {
				color: $white;
				border-color: $mainColor;
				background-color: $mainColor;
			}
		}
	}
}
