.reviews {
	padding: 60px 0;

	@include sm {
		padding: 50px 0;
	}

	// .reviews__container
	&__container {
		@include sm {
			padding: 0;
		}
	}

	// .reviews__title
	&__title {
		margin: 0 0 40px 0;

		@include lg {
			margin: 0 0 50px 0;
		}
	}

	// .reviews__content
	&__content {
		position: relative;
		padding: 0 108px;

		@include md {
			padding: 0;
		}
	}
}

.swiper-review {
	position: relative;
	overflow: hidden;

	// .swiper-review__arrow
	&__arrow {
		position: absolute;
		top: 34%;
		width: 70px;
		height: 70px;
		outline: none;
		background-color: transparent;
		border: 1px solid transparent;
		border-radius: 100%;
		cursor: pointer;
		transition: fill $doubleHoverTime ease-in, border-color $doubleHoverTime ease-in;

		@include md {
			display: none;
		}

		@include lg-min {
			&--prev:active {
				transform: translateX(-2px);
			}
			&--next:active {
				transform: translateX(2px);
			}

			&:focus {
				border-color: $mainColor-50;
				.swiper-review__icon {
					fill: $mainColor-50;
				}
			}

			&:hover {
				border-color: $mainColor;
				.swiper-review__icon {
					fill: $mainColor;
				}
			}
		}
	}

	// .swiper-review__arrow--prev
	&__arrow--prev {
		left: 0;
	}

	// .swiper-review__arrow--next
	&__arrow--next {
		right: 0;
	}

	// .swiper-review__icon
	&__icon {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 50px;
		fill: $mainColor;
		transition: all $doubleHoverTime ease-in;
	}

	// .swiper-review__wrapper
	&__wrapper {
		display: flex;
	}

	// .swiper-review__pagination
	&__pagination {
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
		max-width: 190px;
		width: 100%;
		display: flex;
		justify-content: space-between;
		background-color: transparent;
		min-height: 11px;
	}

	.swiper-pagination-bullet {
		position: relative;
		z-index: 22;
		width: 11px;
		height: 11px;
		border: 1px solid $mainColor;
		border-radius: 100%;
		cursor: pointer;
		transition: all $hoverTime ease;
	}

	.swiper-pagination-bullet-active {
		background-color: $mainColor-50;
	}

	.swiper-pagination-bullet:hover,
	.swiper-pagination-bullet-active:hover {
		background-color: $mainColor;
	}
}

.slide-review {
	flex: 0 0 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 0 60px 0;
	overflow: hidden;

	@include xl {
		flex-direction: column;
		margin: 0 0 40px 0;
	}

	// .slide-review__content
	&__content {
		max-width: 510px;
		padding: 0 58px 0 0;

		@include xl {
			text-align: center;
			max-width: 360px;
			padding: 0;
		}

		@include sm {
			max-width: 390px;
			padding: 0 15px;
		}
	}

	// .slide-review__author
	&__author {
		display: block;
		margin: 0 0 40px 0;
		color: $mainColor-40;

		@include xl {
			margin: 0 0 30px 0;
		}
	}

	// .slide-review__text
	&__text {
		@include xl {
			margin: 0 0 20px 0;
		}
	}

	// .slide-review__picture
	&__picture {
		flex: 0 0 100%;
		max-width: 522px;
		max-height: 443px;
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: flex-end;

		@include xl {
			justify-content: center;
		}

		@include md {
			max-width: 414px;
			max-height: 348px;
		}

		@include sm {
			max-width: vw(1440);
			max-height: 348px;
		}
	}

	// .slide-review__img
	&__img {
		height: 100%;
		object-fit: cover;
	}
}
