.services {
	padding: 120px 0 60px;

	@include sm {
		padding: 100px 0 50px;
	}

	// .services__title
	&__title {
		margin: 0 0 63px 0;

		@include sm {
			margin: 0 0 50px 0;
		}
	}

	// .services__content
	&__content {
		max-width: 1280px;
		margin: 0 0 60px 0;
		@include md {
			margin: 0 0 46px 0;
		}
	}

	// .services__bottom
	&__bottom {
		font-size: 16px;
		color: $mainColor-50;

		@include sm {
			text-align: center;
			font-size: 14px;
		}
	}
}

.slider-services {
	position: relative;
	overflow: hidden;
	max-width: 1280px;
	min-height: 600px;

	@include md {
		min-height: 650px;
	}

	// .slider-services__wrapper
	&__wrapper {
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		display: flex;
		padding: 25px 0;

		@include md {
			align-items: center;
		}
	}

	// .slider-services__slide
	&__slide {
		position: relative;
		z-index: 1;
		flex: 0 0 414px;
		max-width: 414px;
		min-height: 550px;
		padding: 60px 24px 60px 28px;
		text-align: center;
		cursor: pointer;
		background-color: $white;
		transition: all $hoverTime ease;

		@include md {
			flex: 0 0 300px;
			max-width: 300px;
			min-height: 450px;
			padding: 30px 24px 17px 28px;
			box-shadow: 0 2px 4px 2px $mainColor-10;
		}

		&.swiper-slide-active {
			position: relative;
			z-index: 2;
			box-shadow: 0 0 20px 10px $mainColor-10;
			transition: all $hoverTime ease;

			@include md {
				padding: 57px 24px 57px 28px;
				box-shadow: 0 0 35px 0 $mainColor-15;
			}
		}
	}
}
