// Доступность ============
.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border: 0;
}
// Страница =============================
html,
body {
	height: 100%;
}

body {
	@include Lora(400);
	font-size: 18px;
	line-height: 1.2;
	background-color: $white;
	color: $mainColor;
}

.lock {
	position: relative;
	overflow: hidden;

	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: $mainColor-80;
	}
}
// <ОБОЛОЧКА>=========================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
//<ОСНОВНОЙ БЛОК>=====================
.page {
	flex: 1 1 auto;
}
//<ОСНОВНОЙ КОНТЕЙНЕР>=====================
.container {
	max-width: $maxWidthContainer;
	padding: 0 15px;
	margin: 0 auto;
}
//<Hover>=====================
.hover {
	outline: transparent;
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
	transition: all $hoverTime ease;

	@include lg-min {
		&:focus {
			border-bottom: 1px solid $mainColor-50;
		}

		&:hover {
			border-bottom: 1px solid $mainColor;
		}

		&:active {
			border-bottom: 1px solid $black;
		}
	}
}
