// Доступность ============
.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border: 0;
}
// Страница =============================
html,
body {
	height: 100%;
}

body {
	@include Lora(400);
	font-size: 1.125rem;
	line-height: 1.3;
	background-color: $white;
	color: $mainColor;
}

.lock {
	position: relative;
	overflow: hidden;

	&::before {
		content: "";
		position: absolute;
		z-index: 2;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: $mainColor-80;
	}
}
// <ОБОЛОЧКА>=========================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
//<ОСНОВНОЙ БЛОК>=====================
.page {
	flex: 1 1 auto;
}
//<ОСНОВНОЙ КОНТЕЙНЕР>=====================
.container {
	max-width: $maxWidthContainer;
	padding: 0 15px;
	margin: 0 auto;
}
//<Hover>=====================
.hover {
	outline: transparent;
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
	transition: all $hoverTime ease-in;

	@include lg-min {
		&:focus {
			border-bottom: 1px solid $mainColor-50;
		}

		&:hover {
			border-bottom: 1px solid $mainColor;
		}

		&:active {
			border-bottom: 1px solid $black;
		}
	}
}
// <ОБЩИЕ БЛОКИ> ==============================================
.btn {
	font-family: Roboto;
	border-radius: 10px;
	border-width: 1px;
	border-style: solid;
	font-size: 24px;
	padding: 9px 20px;
	color: inherit;
	letter-spacing: 0.6px;
	background-color: transparent;
	transition: all $hoverTime ease-in;

	@include lg-min {
		&:focus {
			background-color: $mainColor-20;
		}

		&:hover {
			color: $white;
			border-color: $mainColor;
			background-color: $mainColor;
		}

		&:active {
			transform: translate(2px, 2px);
		}
	}

	&--white {
		border-color: $white;
	}

	&--black {
		color: $mainColor;
		border-color: $mainColor;
	}
}
