// <ПЕРЕМЕННЫЕ>==================================
$white: #fff;

$background-color: #e5e5e5;
$background-example: #f2f2f2;

$mainColor: #0e1d28;
$mainColor-20: rgba(14, 29, 40, 0.2);
$mainColor-50: rgba(14, 29, 40, 0.5);
$mainColor-80: rgba(14, 29, 40, 0.8);

$black: #000;

$hoverTime: 0.4s;
$doubleHoverTime: 0.8s;

$minWidth: 320px;
$maxWidth: 1440px;
$maxWidthContainer: 1310px;

$screen-xl: 1199.98;
$screen-lg: 991.98;
$screen-md: 767.98;
$screen-sm: 479.98;

$mainFontSize: 18px;
